numpy
scipy
matplotlib
pims
pandas
tqdm
opencv-python-headless
tifffile
pyqt5
pyqtgraph
pillow
scikit-video @ https://github.com/scikit-video/scikit-video.git
scikit-image
scikit-learn
pyserial
natsort
pyqtgraph
pyqtwebengine
boto3
pyyaml
requests
joblib
